<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node API</title>
</head>

<body>
    <h1 style="text-align: center;">Thank You For Visiting This Server</h1>
    <div style="display: flex;justify-content: center;">
        <a href="/api-docs"
            style="text-decoration: none;margin:5px;background-color: greenyellow;padding: 8px;border-radius: 8px;color: black  ;">
            Show Swagger Documentation
        </a>
        <a target="_blank"
            href="https://planetary-meteor-236077.postman.co/workspace/node-learning~528a98ba-bb65-4088-81bf-a12c359eb27d/documentation/30946268-a8954bf5-66b2-4244-91f4-5fe08602718d"
            style="text-decoration: none;margin:5px;background-color: #ff6c37;padding: 8px;border-radius: 8px;color: black  ;">
            Show Postman Documentation
        </a>
    </div>

</body>

</html>