<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node API</title>
</head>

<body>
    <h1 style="text-align: center;">Thank You For Visiting This Server</h1>
    <div style="display: flex;justify-content: center;">
        <a href="/api-docs"
            style="text-decoration: none;background-color: greenyellow;padding: 8px;border-radius: 8px;color: black  ;">
            Show Swagger
        </a>
    </div>

</body>

</html>